# Configurações do PocketBase
POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_ADMIN_EMAIL=seu-email@exemplo.com
POCKETBASE_ADMIN_PASSWORD=sua-senha

# Configurações do Google Drive
GOOGLE_DRIVE_FOLDER_ID=id-da-pasta-no-drive # ID da pasta que contém as imagens para todos os produtos